{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{show.img.url}}" width="400" height="400">
        </div>

<div class="col-md-6" style="color:white;">
    <h2>{{show.name}}</h2>
    <h5>{{show.year}}</h5>
    <h6>{{show.desc}}</h6>

    <a class="btn btn-info"  href="{% url 'movieapp:update' show.id %}">Update</a>
    <a class="btn btn-danger"  href="{% url 'movieapp:delete' show.id %}">Delete</a>
</div>

</div>
</div>
{% endblock %}
